@import '~formiojs/dist/formio.full.min.css';

.content {
  margin-top: 54px;
  padding: 0 20px;
  width: 100%;
  /* height: 100%; */
}
.display-flex {
  display: flex;
}
.flex-align-center {
  align-items: center;
}
.mt-10 {
  margin-top: 10px;
}
.pagination-size .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'][class*='MuiOutlinedInput-marginDense'] {
  padding-top: 3px !important;
  padding-right: 30px !important;
  padding-bottom: 3px !important;
  padding-left: 3px !important;
}
.pagination-size .MuiInputBase-root {
  height: 35px !important;
  padding-right: 30px;
}
.table-custom table {
  width: 100%;
  border-spacing: 0px;
}
.table-custom thead .rc-table-cell {
  padding: 10px 16px;
  background-color: #f2f2f2;
  text-align: left;
  font-weight: 500;
}
.table-custom tbody .rc-table-cell {
  padding: 10px 16px;
  text-align: left;
}
.table-custom tbody tr.rc-table-row:hover {
  background-color: #f2f2f2;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#group-container-basic, #group-container-advanced,
#group-container-layout, #group-container-premium,
#group-container-data {
  display: grid;
  gap: 0.1rem;
}

.builder-group-button {
  width: 100%;
}